{{#if inNew}}
  <label>Name:</label>
  {{input value=userName}}
  <label>Comment:</label>
  {{input value=content}}
  <label>Date Created:</label>
  {{input type="date" value=dateCreated}}
  <div class="circular ui button green mini" {{action 'newComment' post}}>{{fa-icon "check"}}</div>
{{else}}
  <div class="circular ui button blue mini" {{action 'goNew'}}>{{fa-icon "comment-o"}}</div>
{{/if}}
