{{#if inPost}}
  {{post.title}}<br>
  {{post.content}}<br>
  {{post.dateCreated}}
  {{post-edit post=post editPost="editPost" deletePost="deletePost"}}
  <div class="ui comments">
    <h3 class="ui dividing header">Comments</h3>
    {{#each post.comments as |comment|}}
      {{comment-tile comment=comment deleteComment="deleteComment"}}
    {{/each}}
  </div>
  {{comment-new post=post newComment="newComment"}}
{{else}}
  <div class='image'>
        {{#link-to 'post' post.id}}
        <img src={{post.imageURL}} class='ui fluid image card-image' style="height: 350px;object-fit: cover;">
        {{/link-to}}
  </div>
  <br>
  <div class='extra content'>
    <span style='font-size:2em; font-weight:bold;'>
      {{post.title}}
    </span>
    <span class='right floated' style='padding-right: 5px;'>
      {{fa-icon "comment-o"}} {{post.comments.length}}
    </span>
  </div>
  <br>
{{/if}}
